*{
    margin: 0 auto;
}

table{
    width: 100 px;
    background: rgb(223, 233, 86);
    border: black;
    border-style: double;
    border-spacing: 2px;
}
caption 

{
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    text-transform:uppercase;
}
    
td{
    border: 1px solid black;
    background-color: rgb(253, 246, 185);
   
}

th{
    border: 1px solid black;
    background-color: rgb(247, 204, 112);

}